package ${package}.${moduleName}.web.request.${domainName};

import ${package}.${moduleName}.web.request.BasePageRequest;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
@ApiModel("查询条件")
public class ${className}QueryRequest extends BasePageRequest {

#foreach ($column in $columns)
    @ApiModelProperty(value = "$column.comments")
    private $column.attrType $column.attrname;

#end

}
