package ${package}.${moduleName}.web.request.${domainName};

import ${package}.${moduleName}.common.base.BaseBean;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
@ApiModel("添加、修改条件")
public class ${className}Request extends BaseBean {

#foreach ($column in $columns)
#if($column.attrname != 'addTime' && $column.attrname != 'appId' && $column.attrname != 'userId')
    @ApiModelProperty(value = "$column.comments")
    private $column.attrType $column.attrname;

#end
#end
}
